<h2>Menu</h2>
<ul>
  <li class="article-list__item">
    <a class="article-list__link" href="/attribute">
      <h3 class="article-list__title">Alle Merkmale</h3>
      <p class="article-list__description">
        Liste aller verfügbaren Merkmale in der GENESIS-Datenbank
    </a>
  </li>
  <li class="article-list__item">
    <a class="article-list__link" href="https://datengui.de">
      <h3 class="article-list__title">Datenguide Website</h3>
      <p class="article-list__description">
        Zur Website des datengui.de-Projekts
    </a>
  </li>
</ul>

