<h2>Menu</h2>
<ul>
  <li class="article-list__item">
    <a class="article-list__link" href="/examples/">
      <h3 class="article-list__title">Beispiele</h3>
      <p class="article-list__description">
        Beispiel-Tabellen und wie man sie abfragt
      </p>
    </a>
  </li>
  <li class="article-list__item">
    <a class="article-list__link" href="https://datengui.de">
      <h3 class="article-list__title">Datenguide Website</h3>
      <p class="article-list__description">
        Zur Website des datengui.de-Projekts
      </p>
    </a>
  </li>
</ul>

