<div class="hero hero--search">
  <div class=" mdc-layout-grid">
    <div class=" mdc-layout-grid__inner">
      <div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h1 class="hero__title">Beschreibung der Merkmale aus der GENESIS-Datenbank
          samt Beispiel-Abfragen für die API</h1>
        <div class="hero__search">
          <div class="react-autosuggest__container">
            <form action="/attribute" method="get">
              <input type="text" name="q" class="react-autosuggest__input" placeholder="Suche nach einem Thema..." value="{{ request.args.q }}">
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

